/************************************************

Stylesheet: Headroom Stylesheet

*************************************************/
.animated {
  @include breakpoint(medium down) {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    will-change: transform,opacity
  }

}


.header--fixed {
  position: fixed;
  z-index: 800;
  right: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  margin-top: 0em;
  bottom: auto;
  top: 0px;
}
.headroom {
  transition: transform .25s ease-in-out;
  will-change: transform
}

.headroom--pinned {
  transform: translateY(0)
}

.headroom--unpinned {
  transform: translateY(-100%)
}


// Hamburger Over Rides
.menu-button {
  display: inline-block;
  padding: .5em;

}

.burger-icon {
  @include burger(30px, 3px, 5px, $header-blue);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}